
#Swift
.build
Package.resolved

#Apple
.DS_Store
.icloud

#Xcode
.swiftpm/*
!.swiftpm/xcode/xcshareddata/*

#Visual Studio
.vs

#Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

#CLion
.idea
